@import url('normalize.css');
/* General Demo Style */
body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	background: #ddd url(../images/back2.gif) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
a{
	color: #555;
	text-decoration: none;
}
.container{
	width: 100%;
	position: relative;
	margin-top:-20px;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.row img
{
	width: 100px;
	height: 100px;
	padding-bottom: 20px;
}
.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 40px;
	line-height: 40px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #6190ca;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.3);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons Style */
.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 6px;
	color: #aaa;
	line-height: 20px;	
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #ddd;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.codrops-demos a:hover{
	color: #333;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.codrops-demos a:active{
	background: #fff;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #f6f6f6;
}




.row {
margin-left: -30px;
}
.color {
color: #3BC2C8;
}

.process:hover {
border: 4px dashed #F29E0C;
}
.process {
float: left;
width: 120px;
height: 120px;
padding: 15px;
font-size: 50px;
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
border-radius: 500px;
border: 4px dashed #3BC2C8;
-webkit-transition: border-color 1s linear;
-moz-transition: border-color 1s linear;
-o-transition: border-color 1s linear;
-ms-transition: border-color 1s linear;
transition: border-color 1s linear 0s;
text-align: center;
margin-left: 30px;
cursor: pointer;

}





#footer {
font-size: 13px;
position: relative;
background-color: #333;
}


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
display: block;
}
user agent stylesheetarticle, aside, footer, header, hgroup, nav, section {
display: block;
}
#footer::before {
content: '';
border: 10px solid transparent;
border-top-color: #fff;
position: absolute;
left: 50%;
top: 0;
margin-left: -10px;
}
#footer-top {
padding: 30px 0;
color: #aaa;
}
#footer-bottom {
background-color: #282828;
color: #aaa;
border-top: 1px solid #3f3f3f;
padding: 32px 0;
}






.section {
padding-bottom: 60px;
padding-top: 40px;
}

section {
display: block;
}

 .navbar-static-top .container_new, .navbar-fixed-top .container_new, .navbar-fixed-bottom .container_new {
width: 1170px;
}
.container_new {
margin-right: auto;
margin-left: auto;
}
.container_new, .navbar-static-top .container_new, .navbar-fixed-top .container_new, .navbar-fixed-bottom .container_new {
width: 1250px;
}
.container_new::before, .container_new::after {
display: table;
content: "";
line-height: 0;
}
.container_new::after {
clear: both;
}
.container_new::before, .container_new::after {
display: table;
content: "";
line-height: 0;
}



.row {
margin-left: 0px;
padding-bottom: 10px;
}
.row::before, .row::after {
display: table;
content: "";
line-height: 0;
}
.row::after {
clear: both;
}
.row::before, .row::after {
display: table;
content: "";
line-height: 0;
}


.box {
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
border-radius: 5px 5px 5px 5px;
box-shadow: 4px 4px rgba(0, 0, 0, 0.05);
margin-bottom: 2.8125%;
position: relative;
text-align: center;
top: 20px;
}
.span3 {
width: 270px;
}
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 30px;
}

header{
display: block;
}
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
}
body {
line-height: 1.6em !important;
color: #666;
}


.headline_new h3 {
background: url("../images/separating-lines.gif") no-repeat scroll center center transparent;
color: #CCCCCC;
font-size: 30px;
margin: 0 0 25px;
text-align: center;
text-transform: uppercase;
font-family: Calibri;
}

h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-family: inherit;
font-weight: bold;
line-height: 20px;
color: inherit;
text-rendering: optimizelegibility;
}

h3 {
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.span12 {
width: 1030px;
}
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 110px;
}
body {
line-height: 1.6em !important;
color: #666;
}


header.box-headline h4 {
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
border-bottom: 1px solid rgba(0, 0, 0, 0.05);
color: #747474;
font-family: Arial;
font-size: 16px;
font-weight: normal;
margin-bottom: 20px;
margin-top: 0;
padding: 15px 20px;
text-transform: uppercase;
}

.s-details{
	min-height: 75px;
}

#eyeimg{
padding: 2px;
width: 20px;
height: 20px;
/*
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
*/
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
}