*{
    margin:0px;
    padding:0px;
}
body{
    color:#444444;
    font-size:13px;
    background: #DDD url(../images/back2.gif) repeat top left;
    font-family:"Century Gothic", Helvetica, sans-serif;
}
#content{
    margin:15px auto;
    text-align:center;
    width:600px;
    position:relative;
    height:100%;
}
#wrapper{
    /*
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    */
    width: 65%;
    overflow: hidden;
    position: relative;
    top: -30px;
    left: 30%;
    min-height: 550px;
}
#steps{
    overflow: hidden;
    width: 300%;
    margin-left: 0px;
    min-height: 550px;
    margin-top: 45px;
    background: white;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
    border: 1px solid #E9E9E9;
}
.step_prod_desc{
    float: left;
    width: 41%;
	/*height:320px;*/
}
#navigation{
    position: relative;
    top: 10px;
    left:33%;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#navigation ul{
    list-style:none;
    float:left;
}
#navigation ul li{
    float:left;
    position:relative;
}
#navigation ul li a{
    border: 1px solid #CCC;
    background: #F1F1F1;
    font-weight: bold;
    color: #787878;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #CCC;
    box-shadow: 2px 2px 2px #CCC;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1em;
    padding: .4em 1em;
    outline-width:0px;
}
#navigation ul li a:hover,
#navigation ul li.selected a{
    background: white;
    font-weight: bold;
    color: black;
    border: 1px solid #CCC;
    -moz-box-shadow: 4px 4px 4px #ccc;
    -webkit-box-shadow: 4px 4px 4px #CCC;
    box-shadow: 4px 4px 4px #CCC;
}

#steps form fieldset{
    border: 0px solid #CCC;
    width: 33.33%;
    
}

#prod_desc_left_bar{
    position: absolute;
    top: 180px;
    left: 5%;
    background: ;
    width: 24%;
    min-height: 550px;
}
#mini_topbar{
    border-bottom: 1px solid #DDD;
    background-color: #FCFCFC;
    font-size: 21px;
    height: 50px;
    margin-bottom: 40px;
    text-align: center;
}
#left_bar_prod_image{
    position: relative;
    background: white;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 325px;
    border: 1px solid #E9E9E9;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}