
@import url('demo.css');
@import url('font-awesome.css');

.jms-slideshow {
	position: relative;
	width: 100%;
	min-width: 640px;
	margin: 20px auto;
	height: 460px;
}
.jms-wrapper {
	width: auto;
	min-width: 600px;
	height: 470px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding;
	-moz-background-clip: padding;     
	background-clip: padding-box;
	
	border-bottom: 10px solid #fff;
	outline: none;
	-webkit-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-o-transition: background-color 1s linear;
	-ms-transition: background-color 1s linear;
	transition: background-color 1s linear;
}
.color-1 {
	background-color: #E3D8FF;
	background-color: rgba(227, 216, 268, 1);
}
.color-2 {
	background-color: #EBBBBC;
	background-color: rgba(235, 187, 188, 1);
}
.color-3 {
	background-color: #EED9C0;
	background-color: rgba(238, 217, 192, 1);
}
.color-4 {
	background-color: #DFEBB1;
	background-color: rgba(223, 235, 177, 1);
}
.color-5{
	background-color: #C1E6E5;
	background-color: rgba(193, 230, 229, 1);
}
.step {	
	width: 900px;
    height: 420px;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}
.step:not(.active) {
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}
.jms-content{
	margin: 0px 370px 0px 20px;
	position: relative;
	clear: both;
	line-height: initial;
}
.step h3{
	color: #fff;
	font-size: 52px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin: 0;
	padding: 60px 0 10px 0;
	line-height:1em;
}
.step p {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-size: 29px;
	font-weight: normal;
	position: relative;
	margin: 0;
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
}
a.jms-link{
	color: #fff;
	text-transform: uppercase;
	background: #969696; /* Old browsers */
	background: -moz-linear-gradient(top, #969696 0%, #727272 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#727272)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #969696 0%,#727272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #969696 0%,#727272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #969696 0%,#727272 100%); /* IE10+ */
	background: linear-gradient(top, #969696 0%,#727272 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
	padding: 8px 15px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid #444;
	border-radius: 4px;
	opacity: 1;
	margin-top: 40px;
	clear: both;
	-webkit-transition: all 0.4s ease-in-out 1s;
	-moz-transition: all 0.4s ease-in-out 1s;
	-ms-transition: all 0.4s ease-in-out 1s;
	-o-transition: all 0.4s ease-in-out 1s;
	transition: all 0.4s ease-in-out 1s;
}
.step:not(.active) a.jms-link{
	opacity: 0;
	margin-top: 80px;
}
.step img{
	position: absolute;
	right: 0px;
	top: 30px;
}
.jms-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #777;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.3);
}
.jms-dots span.jms-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.jms-arrows{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-arrows span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	width: 30px;
	cursor: pointer;
	z-index: 2000;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.jms-arrows span.jms-arrows-prev{
	background: #fff url(../images/arrow_left.png) no-repeat 50% 50%;
	left: 0px;
	border-radius: 0px 3px 3px 0px;
}
.jms-arrows span.jms-arrows-next{
	background: #fff url(../images/arrow_right.png) no-repeat 50% 50%;
	right: 0px;
	border-radius: 3px 0px 0px 3px;
}
/* Not supported style */
.jms-wrapper.not-supported{
	background-color: #E3D8FF;
	background-color: rgba(227, 216, 268, 1);
}
.jms-wrapper.not-supported:after{
	content: 'The slideshow functionality is not supported on your device.';
	padding: 0px 0px 30px 0px;
	text-align: center;
	display: block;
}
.jms-wrapper.not-supported .step{
	display: none;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	margin: 20px auto;
}
.jms-wrapper.not-supported .step:first-of-type{
	display: block;
}
.jms-wrapper.not-supported .step:not(.active) a.jms-link{
	opacity: 1;
	margin-top: 40px;
}


.header
{
	background-color: #333;
background-image: url(images/noise.png);
border-top: 1px solid #555;
	height: 76px;
	width: 100%;
	
	
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}
.middle
{
	margin-left:auto;
	margin-right:auto;
	width:900px;
	padding-top: 5px;
}
.slideshow
{
	background-image: url("../images/1.jpg");
	width:100%;
	height:450px;
	border-bottom: 1px solid #ddd;
	background-color: #fcfcfc;
}
.bodyContainer
{
	width:100%;
	background-image: url("../images/back.png");
	height:300px;
}
.middle ul li{
	display: inline;
	
	color: #CCC;
	cursor: pointer;
	
}
.middle ul li:hover
{
	color:#FFF;
	vertical-align: middle;
	
}
.middle ul{
	float:right;
	
}
.main header
{
	background-color: #333;
	background-image: url(images/noise.png);
	border-top: 1px solid #555;
	padding-top: 3px;
	background-color: #2f2f2f;
}
.middle h1{
	float:left;
}
.middle ul li a
{
	text-decoration: none;
	
	color: #808080;	
	height: 79px;
	width:90px;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: -10px;
	border-top: 4px solid #333;
	
}


.middle ul li a:hover
{
	
	color:white;
	border-top: 4px solid #8ecd44;
	border-top: 4px solid transparent;
	border-top-color: #8ecd44;
	/*border-bottom: 4px solid #8ecd44;
	border-bottom: 4px solid transparent;
	border-bottom-color: #8ecd44;*/
	padding-top:8px; 
	background-color: rgb(39, 37, 37);

	
	
}


#main-nav ul li .active {
	color:#FFF;
	cursor: pointer;
	border-top: 4px solid #8ecd44;
	border-top: 4px solid transparent;
	border-top-color: #8ecd44;
	background-color:  #332;
}

.middle ul li a div
{
	padding-top:10px;
}

.headline {
border-bottom: 1px solid #ddd;
background-color: #fcfcfc;
font-size: 21px;
padding: 40px 0;
margin-bottom: 40px;
text-align: center;
line-height: 1.8;
}



*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.login_reg_form {
    /* Size & position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.login_reg_form .field {
    position: relative; /* For the icon positioning */
}

.login_reg_form .field i {
    /* Size and position */
    left: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.login_reg_form input[type=text],
.login_reg_form input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.login_reg_form input[type=text] {
    margin-bottom: 10px;
}

.login_reg_form input[type=text]:hover ~ i,
.login_reg_form input[type=password]:hover ~ i {
    color: #52cfeb;
}

.login_reg_form input[type=text]:focus ~ i,
.login_reg_form input[type=password]:focus ~ i {
    color: #42A2BC;
}

.login_reg_form input[type=text]:focus,
.login_reg_form input[type=password]:focus,
.login_reg_form button[type=submit]:focus {
    outline: none;
}

.login_reg_form .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.login_reg_form .submit:after {
    /* Size and position */
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;

    /* Styles */
    background: #ffffff;
    
    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.login_reg_form button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;

    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: #52cfeb; /* Fallback */
    background: -moz-linear-gradient(#52cfeb, #42A2BC);
    background: -ms-linear-gradient(#52cfeb, #42A2BC);
    background: -o-linear-gradient(#52cfeb, #42A2BC);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
    background: -webkit-linear-gradient(#52cfeb, #42A2BC);
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);

    cursor: pointer;
}

.login_reg_form button:hover,
.login_reg_form button[type=submit]:focus {
    background: #52cfeb;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.login_reg_form button:active {
    background: #42A2BC;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}

